{% block carousel %}

<div style="display: block;">
    <div class="carousel">
        <div class="container" id="img">
            <img class="img" src="{{ url_for('static', filename='images/f6.jpg') }}"
                alt="fotos da Igreja Nossa Senhora do Bom Sucesso">
            <img class="img" src="{{ url_for('static', filename='images/f1.jpg') }}"
                alt="fotos da Igreja Nossa Senhora do Bom Sucesso">
            <img class="img" src="{{ url_for('static', filename='images/f2.jpg') }}"
                alt="fotos da Igreja Nossa Senhora do Bom Sucesso">
            <img class="img" src="{{ url_for('static', filename='images/f4.jpg') }}"
                alt="fotos da Igreja Nossa Senhora do Bom Sucesso">
        </div>
    </div>

{% endblock %}