{% extends 'base.html' %}
{% block conteudo%}
<div class="div_conteudo">
<h1> Projetec 2022 </h1>
<img src="/static/images/logo.jpg" alt="logo" class="logo_conteudo">
<p> A ideia do nosso trabalho é utilizar um site interativo que irá promover a divulgação de atividades comunitarias da igreja com o objetivo de aproximar fiéis aos propósitos religiosos cristãos.
        O site irá contar com três telas interativas e duas informativas. <br> Atividades e metas: Pagina feita para mostrar uma barra de progresso com as arrecadações da igreja. <br> Sugestões: Pagina feita para mostrar os comentarios dos clientes logados. <br> Quem somos: Pagina feita para mostrar os integrantes do grupo que fizeram o site, cada um com sua função. <br> Login: Pagina feita pra realizar o login de novos clientes. </p>
</div>
{% endblock %}