<!DOCTYPE html>
<html lang="Pt-br">

	<head>
		<meta charset="UTF-8">
		<title>Página de login</title>
		<link rel="stylesheet" href="/static/style/login.css">
	</head>

	<body class="banner">
		<div class="box">
			<form action="{{ url_for('login') }}" method="post" autocomplete="on">
				<h2>Login</h2>
				<div class="inputBox">
					<input class="form-control" type="email" name='email' required="required">
					<span>Email</span>
					<i></i>
				</div>
				<div class="inputBox">
					<input class="form-control" type="password" name='senha' required="required">
					<span>Senha</span>
					<i></i>
				</div>
				<div class="links">
					<a href="{{ url_for('cadUser') }}">Não tem uma conta ainda?</a>
				</div>
				<input type="submit" value="Login">
			</form>
		</div>

	</body>

</html>