<!DOCTYPE html>
<html lang="Pt-br">

	<head>
		<meta charset="UTF-8">
		<title>Página de login</title>
		<link rel="stylesheet" href="/static/style/login.css">
	</head>

	<body class="banner">
		<div class="box">
			<form autocomplete="off">
				<h2>Login</h2>
				<div class="inputBox">
					<input type="email" required="required">
					<span>Email</span>
					<i></i>
				</div>
				<div class="inputBox">
					<input type="password" required="required">
					<span>Senha</span>
					<i></i>
				</div>
				<div class="links">
					<a href="#">Esqueceu a senha?</a>
					<a href="#">Não tem uma conta ainda?</a>
				</div>
				<input type="submit" value="Login">
			</form>
		</div>

	</body>

</html>