{% extends 'base.html' %}
{% block conteudo %}
<div id="deus">
    <div class="um">
        <h1> {{ titulo }} </h1>
        <p style="margin: 0 auto; width: 80%; text-align: justify;">Somos um grupo de alunos do Instituto Federal de
            Minas Gerais Campus
            Sabará. Na
            disciplina curricular de
            Projetec/Proquest, nós decidimos criar algo que solucionasse uma dor que percebemos na cidade de Caeté: a pouca
            participação de jovens na Igreja Matriz de Nossa Senhora do Bom Sucesso. Devido a isso, elaboramos a ideia
            de fazer
            um website cujo principal objetivo será promover a interação em atividades comunitárias voltadas para a
            sociedade, com metas e objetivos claros e interativos, para que a comunidade como um todo projete um futuro
            melhor na sociedade, com maior foco na participação dos jovens.</p>
    </div>
    <div id="qsBox">
        <div class="dois" style="align-items: flex-start;">
            <h2>Integrantes:</h2>
            <p>Eduarda Calefi;<br>Lorrayne Carolline;<br>Raphael Abade;<br>Sofia Diaz;<br>Sabrina
                Ramos;<br>Kevin Washington;<br></p>
        </div>
        <div class="tres" style="margin-left: 50px; align-items: end;">
            <h2>E-mails de contato:</h2>
            <p>
                eduardacalefi0506.mota@gmail.com;<br>
                lorraynecarolline570@gmail.com;<br>
                raphaelabade10@gmail.com<br>
                sofia.aj.diaz@outlook.com;<br>
                sabrinarjolly890@gmail.com;<br>
                kevinmgsd@gmail.com;<br>
            </p>
        </div>
    </div>
</div>
<div class="redes">
    <a href="https://www.instagram.com/kevin_silva_dias/"><img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="insta bb"
            style="width:50px;height:50px;"></a>
    <a href=""><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="raphinha"
            style="width:50px;height:50px;"></a>
</div>
</div>

{% endblock %}